@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(250, 249, 249);
  --foreground: #374151;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.333333px;
}

/* Prose styles for blog content */
.prose {
  @apply text-gray-700;
  line-height: 1.6;
}

.prose p {
  @apply mb-5;
}

.prose h1 {
  @apply text-3xl font-semibold text-neutral-800 mb-6;
  line-height: 1.2;
}

.prose h2 {
  @apply text-xl font-semibold text-neutral-800 mb-4 mt-10;
  line-height: 1.2;
}

.prose h3 {
  @apply text-lg font-semibold text-neutral-800 mb-3 mt-6;
  line-height: 1.2;
}

.prose ul {
  @apply list-disc list-inside mb-4;
}

.prose a {
  @apply text-neutral-800 underline hover:text-neutral-600;
}
